* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
:root {
  --bgcolor: #3b5d50;
  --text: rgb(255, 255, 255);
  --navhover-text: #f8b810;
  --smalltext: rgb(106, 106, 106);
  --black: black;
  --white: white;
  --body-bg: #eff2f1;
}

