* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
body {
  background-color: rgb(128, 203, 141);
}

.chair-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 140px;
  margin-left: 200px;
}
.chair-form form {
  height: 400px;
  width: 400px;
  background-color: var(--bgcolor);
}
.input-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.input-form input {
  border-radius: 5px;
  background-color: var(--body-bg);
}
