* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
:root {
  --bgcolor: #3b5d50;
  --text: rgb(255, 255, 255);
  --navhover-text: #f8b810;
  --smalltext: rgb(106, 106, 106);
  --black: black;
  --white: white;
  --body-bg: #eff2f1;
}
/* back to top button */
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 25px;
  border: none;
  outline: none;
  height: 50px;
  width: 50px;
  background-color: var(--bgcolor);
  color: var(--white);
  cursor: pointer;
  border-radius: 50%;
}
#myBtn:hover {
  background-color: var(--smalltext);
}
/* back to top button */
/* Navbar */
.navbar {
  background-color: var(--bgcolor);
  color: var(--text);
}
.logo {
  font-size: 32px;
  font-weight: 600;
  line-height: 28px;
  padding-top: 10px;
  list-style: none;
}
.bars {
  color: var(--text);
}

.navtxt {
  display: flex;
  gap: 25px;
  font-weight: 500;
  font-size: 16px;
  line-height: 22.5px;
  cursor: pointer;
}
.navtxt li:hover {
  color: var(--navhover-text);
}
/* Hover effect for dropdown */
.hover-dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0; /* Adjusts the position of the dropdown */
}

.hover-dropdown .dropdown-menu {
  display: none;
}

.navbaritem {
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 100px;
}
.navbutton {
  list-style: none;
  gap: 20px;
  /* padding-top: 10px; */
}
.loginhvr:hover {
  background-color: var(--navhover-text);
  color: black;
}
.card-icon:hover {
  cursor: pointer;
  transform: scale(1.2);
}
.ataguse a {
  text-decoration: none;
  color: var(--white);
}
.ataguse a:hover {
  color: var(--navhover-text);
}
/* Navbar */

/* hero */
.mainhero {
  height: 555px;
  width: 100%;
  background-color: var(--bgcolor);
}
.hero {
  color: var(--text);
  display: flex;
  flex-direction: row;
  align-items: center;
}
.herotxtone {
  font-size: 48px;
  font-family: 900;
}
.herotxttwo {
  font-size: 14px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
}
.herotxtthree {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.herotxtthree button {
  height: 50px;
  width: 150px;
  font-size: 16px;
  font-weight: 600;
}
.herotxtthree button:hover {
  background-color: var(--navhover-text);
}
.sofa {
  position: relative;
}
.dotgreen {
  position: absolute;
  padding-top: 40px;
  right: 70px;
}
.signupbtn {
  height: 40px;
  width: 90px;
}
/* new section 1 */
.sectionone {
  padding-top: 60px;
}
.seconemainbox {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.lineoneicon {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 70px;
}
.bestdeal {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Explore {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 32px;
  font-weight: 500;
}
.line {
  border-bottom: 2px solid black;
  width: 110px;
}
.bestdeal img {
  height: 60px;
  width: 60px;
}
.bestdeal i {
  font-size: 60px;
}
.dealzonetxt {
  font-size: 14px;
  font-weight: 300;
  /* text-decoration: none; */
  color: var(--black);
}
.no-underline {
  text-decoration: none;
}
.link-page {
  margin-left: 12px;
  text-decoration: none;
}
.bestdeal:hover {
  color: var(--navhover-text);
}
/* section 2 why choose us */
.sectiontwomain {
  margin-top: 200px;
}
.sectiontwo {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 160px;
}
.whysec {
  height: 100%;
  width: 650px;
}
.whyfirstchild {
  font-size: 32px;
  font-weight: 500;
}
.whysecondchild {
  font-size: 14px;
  font-weight: 400;
  color: var(--smalltext);
}
.whyimgsec {
  display: flex;
  flex-direction: row;
}
.whyimgone {
  position: absolute;
}
.whyimgtwo {
  position: relative;
  right: 130px;
  bottom: 130px;
}
.whyimgone img {
  height: 550px;
  width: 500px;
  border-radius: 20px;
}
.whyimgtwo img {
  height: 280px;
  width: 280px;
}
.fandfsection {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.truckimg {
  position: absolute;
}
.troukround {
  position: relative;
  height: 35px;
  width: 35px;
  background-color: var(--smalltext);
  opacity: 0.3;
  border-radius: 50%;
  top: 10px;
  left: 20px;
}
.fandftxtone {
  font-size: 14px;
  font-weight: 500;
}
.fandftxttwo {
  font-size: 14px;
  color: var(--smalltext);
}
/* section 2 why choose us */
/* slider */
.slider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.slider-container {
  position: relative;
  overflow: hidden;
  /* height: 300px; */
  width: 70%;
}

.slides-wrapper {
  display: flex;
  /* align-items: center; */
  transition: transform 0.5s ease;
}

.slide-item {
  flex: 0 0 33.33%; /* Each slide takes up one third of the slider's width */
  box-sizing: border-box;
  padding: 10px;
}

.slide-item img {
  height: 280px;
  width: 230px;
  /* width: 100%; */
  border-radius: 10px;
}

.slider-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  padding: 10px;
  z-index: 1; /* Ensure the arrows are on top of the slides */
}

.slider-arrow.prev {
  left: 20px;
}

.slider-arrow.next {
  right: 70px;
}

.slider-arrow:hover {
  opacity: 0.8;
}

/* slider */
/* slider two */
.slidertwo {
  position: relative;
  width: 80%; /* Adjust width as needed */
  margin: 0 auto;
  overflow: hidden;
}

.slidetwo {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%; /* Ensure the slide container takes up full width */
}

.testimonial {
  width: 100%; /* Each testimonial takes up 100% of the slider's width */
  text-align: center;
  padding: 20px;
}
.Testimonials {
  margin-top: 180px;
  text-align: center;
}

.testimonial img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.quote {
  font-style: italic;
  margin-top: 10px;
}

.prevtwo,
.nexttwo {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #ddd;
  color: #333;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.prevtwo {
  left: 10px;
}

.nexttwo {
  right: 10px;
}

.dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #ddd;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.dot.active {
  background: #333;
}
/* slider two */
/* footer */
.footer-one {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: var(--bgcolor);
}
.ft-input {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.ft-input input {
  width: 200px;
}
.ft-input i {
  height: 37px;
  width: 90px;
  color: var(--white);
  background-color: var(--bgcolor);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ft-one-img img {
  height: 270px;
  width: 300px;
}
/* footeer section two */
.mainfooter {
  margin-top: 50px;
  /* margin-bottom: 50px; */
  background-color: var(--white);
}
.footer-two {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 20px;
  color: var(--black);
  font-size: 14px;
}
.footer-two p:hover {
  cursor: pointer;
  color: var(--smalltext);
}
.ft-logo {
  color: var(--bgcolor);
  margin-left: 90px;
}
.brand-logo {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.brand-logo p {
  height: 35px;
  width: 35px;
  background-color: var(--body-bg);
  color: var(--bgcolor);
  font-size: 16px;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: transform 0.4s linear;
}
.brand-logo p:hover {
  background-color: var(--bgcolor);
  color: var(--white);
  transform: rotate(360deg);
}
.nilesh {
  background-color: var(--white);
}
/* footer */
/* admin dispay */

/* admin dispay */
